.projsec{
    margin-top: 65px;
}

.projsec h2, .more {
    color: #d5d5d5;
    font-weight: bold;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
}

.more a{
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.projwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.projwrapper h2{
    text-align: left;
    margin:21px 5px 21px 10px
}

.proj{
    color: #d5d5d5;
}

.projwrapper p{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 12px;
}

.projHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projHead img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.proj{
    width: auto;
    max-width: 595px;
    height: auto;
    border: 2px solid #d5d5d5;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: rgba(53, 52, 52, 0.25);
    margin:20px 20px;
    flex-grow: 1;
    padding: 20px;
    box-shadow: 4px 6px 5px 4px rgba(0, 0, 0, 0.56);
}

.features{
    margin-left: 35px;
}

.features li{
    margin: 6px 5px 5px 25px;
}

.techstack{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:auto 0px 0px 45px;
}

.proj hr{
    margin: 15px 0px;
}

@media screen and (min-width: 1270px) {
    .projwrapper{
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        place-items: center;
        margin:0px 50px;
    }

    .projwrapper h2{
        margin: 0px;
    }

    .features li{
        width: 500px;
    }

    .proj{
        width: 669px;
    }

    .rule{
        margin-top: 40px;
    }

    .projsec h2{
        font-size: 50px;
    }
}

.projsec hr{
    margin:20px 10px;
} 