.gif{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.imag{
    width:280px;
    height: 240px;
    object-fit:fill;
    border-radius: 14px;
}

@media screen and (min-width: 400px) {
    .imag{
        width: 100%;
        max-width: 380px;
        height: 260px;
        border-radius: 14px;
    }
}

@media screen and (min-width: 700px) {
    .imag{
        width: 100%;
        max-width: 670px;
        height: 400px;
        border-radius: 14px;
    }
}


@media screen and (min-width: 1020px) {
    .imag {
      object-fit: fill;
      margin-top: 60px;
      width: 100%; 
      max-width: 1008px; 
      height: 570px;
      border-radius: 14px;
      margin-bottom: 55px;
}
}